:host {
    display:         flex;
    align-items:     center;
    justify-content: center;
    width:           100%;
    height:          100%;

    div.no-content {
        display:         flex;
        flex-direction:  column;
        justify-content: center;

        h3 {
            text-align: center;
        }
    }
}
