@use "@angular/material" as mat;

:host {
    display:        flex;
    flex-direction: column;
    width:          100%;
    gap:            8px;

    h2 {
        font-size:   16px;
        font-weight: 500;
    }

    .info {
        display:        flex;
        align-items:    start;
        flex-direction: row;
        gap:            12px;

        mat-chip {
            overflow:    hidden;
            flex-shrink: 0;
            width:       90px;

            @include mat.chips-overrides((
                container-shape-radius: 4px,
                container-height: 24px,
                label-text-color: var(--mat-sys-on-surface),
                label-text-size: 12px,
                label-text-weight: 400,
                label-text-line-height: 24px,
            ))
        }

        code {
            font-size:   12px;
            line-height: 24px;
            flex:        9 1 auto;
            padding:     0 6px;
        }
    }
}
