<app-title>HTTP 错误详情</app-title>

<mat-divider></mat-divider>


<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>客户端发出请求</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <code class="url">{{ clientRequest()?.url() }}</code>
        @for (header of clientRequest()?.headers?.entries(); track header[0]) {
        <div>
            <mat-chip>{{ header[0] }}</mat-chip>
            <code>{{ header[1] }}</code>
        </div>
        }
    </mat-card-content>
</mat-card>

<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>服务端接收请求</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <code class="url">{{ serverRequest()?.url() }}</code>
        @for (header of serverRequest()?.headers?.entries(); track header[0]) {
        <div>
            <mat-chip>{{ header[0] }}</mat-chip>
            <code>{{ header[1] }}</code>
        </div>
        }
    </mat-card-content>
</mat-card>

<!-- 响应状态 -->
<mat-card appearance="outlined">
    <mat-card-header>
        <mat-card-title>响应状态</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="error-message">
            <span>HTTP Status</span>
            <code>{{ httpErrorResponse().status }}</code>
        </div>
        <div class="error-message">
            <span>Response Status</span>
            <code>{{ apiResponse().status }}</code>
        </div>
        <div class="error-message">
            <span>Error</span>
            <pre class="inline"><code>{{ apiResponse().messages[0] }}</code></pre>
        </div>
        @for (cause of causeMessages(); track cause) {
        <div class="error-message">
            <span>Cause By</span>
            <pre class="inline"><code>{{ cause }}</code></pre>
        </div>
        }
    </mat-card-content>
</mat-card>
