<h2>订阅链接</h2>

<form [formGroup]="subscriptionForm">
    <div class="form-row">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Secret</mat-label>
            <input formControlName="secret" matInput>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Client</mat-label>
            <mat-select formControlName="client" panelClass="my-mat-option">
                @for (c of clients; track c) {
                    <mat-option value="{{ c.toLowerCase() }}">{{ c }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Provider</mat-label>
            <mat-select formControlName="provider" panelClass="my-mat-option">
                @for (p of providers; track p) {
                    <mat-option value="{{ p.toLowerCase() }}">{{ p }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Interval</mat-label>
            <input formControlName="interval" matInput type="number">
        </mat-form-field>
        <mat-slide-toggle class="form-suffix" formControlName="strict" labelPosition="before">Strict</mat-slide-toggle>
    </div>
    <div class="form-row">
        <mat-form-field appearance="outline" subscriptSizing="dynamic">
            <mat-label>Raw Subscription URL</mat-label>
            <input formControlName="url" matInput>
        </mat-form-field>
        <button class="form-suffix" matButton="filled">Gen</button>
    </div>
</form>

<section>
    <div class="convertor-url">
        <div class="convertor-url-label">
            <h5>Raw Url</h5>
            <app-icon-button>content_copy</app-icon-button>
        </div>
        <div class="convertor-url-link">
            <code>
                #!MANAGED-CONFIG
                https://convertor.bppleman.cn/profile?client=surge&provider=boslife&server=https://convertor.bppleman.cn/&interval=43200&strict=true&uni_sub_url=84WUqxc+3CAcni0G:amsgStTeXINyh5qXNOSfAOjIOxipD8jdsqw7J53vIacYNgQUMTG2ekcmg5lln1zYVNq6PQBOLm+X0ZTvoQw9+38npRlIc7pMEMYwnA==
                interval=43200 strict=true
            </code>
        </div>
    </div>
    <div class="convertor-url">
        <div class="convertor-url-label">
            <h5>Raw Url</h5>
            <app-icon-button>content_copy</app-icon-button>
        </div>
        <div class="convertor-url-link">
            <code>
                #!MANAGED-CONFIG
                https://convertor.bppleman.cn/profile?client=surge&provider=boslife&server=https://convertor.bppleman.cn/&interval=43200&strict=true&uni_sub_url=84WUqxc+3CAcni0G:amsgStTeXINyh5qXNOSfAOjIOxipD8jdsqw7J53vIacYNgQUMTG2ekcmg5lln1zYVNq6PQBOLm+X0ZTvoQw9+38npRlIc7pMEMYwnA==
                interval=43200 strict=true
            </code>
        </div>
    </div>
    <div class="convertor-url">
        <div class="convertor-url-label">
            <h5>Raw Url</h5>
            <app-icon-button>content_copy</app-icon-button>
        </div>
        <div class="convertor-url-link">
            <code>
                #!MANAGED-CONFIG
                https://convertor.bppleman.cn/profile?client=surge&provider=boslife&server=https://convertor.bppleman.cn/&interval=43200&strict=true&uni_sub_url=84WUqxc+3CAcni0G:amsgStTeXINyh5qXNOSfAOjIOxipD8jdsqw7J53vIacYNgQUMTG2ekcmg5lln1zYVNq6PQBOLm+X0ZTvoQw9+38npRlIc7pMEMYwnA==
                interval=43200 strict=true
            </code>
        </div>
    </div>
    <div class="convertor-url">
        <div class="convertor-url-label">
            <h5>Raw Url</h5>
            <app-icon-button>content_copy</app-icon-button>
        </div>
        <div class="convertor-url-link">
            <code>
                #!MANAGED-CONFIG
                https://convertor.bppleman.cn/profile?client=surge&provider=boslife&server=https://convertor.bppleman.cn/&interval=43200&strict=true&uni_sub_url=84WUqxc+3CAcni0G:amsgStTeXINyh5qXNOSfAOjIOxipD8jdsqw7J53vIacYNgQUMTG2ekcmg5lln1zYVNq6PQBOLm+X0ZTvoQw9+38npRlIc7pMEMYwnA==
                interval=43200 strict=true
            </code>
        </div>
    </div>
</section>
