:host {
    display:        flex;
    overflow:       hidden;
    align-items:    flex-start;
    flex-direction: column;
    box-sizing:     border-box;
    height:         100%;

    padding:        24px 120px;
    gap:            16px;

    .dashboard-content {
        display:         flex;
        flex:            1 1 auto;
        flex-direction:  column;
        justify-content: space-between;

        .dashboard-row {
            display:        flex;
            flex-direction: row;
            flex-wrap:      wrap;
        }

        .actuator {
        }
    }
}

/* Make horizontal padding 24px on viewports narrower than 1024px */
@media (max-width: 1023.98px) {
    :host {
        padding: 24px; /* equals 24px 24px */
    }
}
